@import '../../../styles/variables';
@import '~dragula/dist/dragula.css';

.chat-container {
  height: 100%;
  width: 100%;
}

.half {
  height: 100%;
  width: 50%;
}
.left {
  border-right: 1px solid $divider-color;
}
.right {
  border-left: 1px solid $divider-color;
}