<!--The content below is only a placeholder and can be replaced.-->
<div class="page-container">
  <mat-toolbar 
    color="primary"
    fxLayout="row"
    fxLayoutAlign="start center"
  >
    <div class="logo">
      <span class="title">Ng Playground</span>
    </div>
    <div class="links"
      fxLayout="row"
      fxLayoutAlign="start center"
    >
      <a [routerLink]="['/']">
        <mat-icon>home</mat-icon>
      </a>
    </div>
  </mat-toolbar>
  
  <div class="active-app-container">
    <router-outlet></router-outlet>
  </div>
</div>